* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: grid;
  grid-template-rows: 1fr 10vh 50vh;

  background-color: #181823;
}

.history-container {
  display: grid;

  height: 40vh;
  padding-right: 1rem;
  overflow-y: scroll;
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  height: 100%;
}

.history p {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #E9F8F990;
}

.result-container {
  display: grid;
  justify-items: flex-end;
  align-items: center;

  border-bottom: 1px solid #E9F8F9;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.result {
  font-size: 2rem;
  color: #E9F8F9;
}

.utilities-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,1fr);
  justify-items: center;
  align-items: center;

  padding: .2.5rem;
  gap: .5rem;
}

/* ui styles */

.utility {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  color: #181823;
  background-color: #E9F8F9;
}

.utility:hover {
  color: #E9F8F9;
  background-color: #537FE7;
  scale: 1.1;
  transition: 100ms;
}

/* operators */

.operator {
  background-color: #537FE7;
}

.operator:hover {
  color: #537FE7;
  background-color: #E9F8F9;
}

/* others */

.other {
  background-color: #C0EEF2;
}

.other:hover {
  color: #C0EEF2;
  background-color: #537FE7;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background: #E9F8F950;
}